registry=http://mirrors.didapinche.com/nexus/repository/dida-npm-public/
disturl=http://npmmirror.com/dist
electron_mirror=http://npmmirror.com/mirrors/electron/
sass_binary_site=http://cdn.npm.taobao.org/dist/node-sass
phantomjs_cdnurl=http://npmmirror.com/mirrors/phantomjs/
chromedriver_cdnurl=http://npmmirror.com/mirrors/chromedriver/
fse_binary_host_mirror=http://npmmirror.com/mirrors/fsevents/
//upload-mirror.didapinche.com/repository/npm-releases/:_authToken=NpmToken.5368a09d-687e-331a-8c8d-35f5661edd8b
//mirror.didapinche.com/repository/:_authToken=NpmToken.5368a09d-687e-331a-8c8d-35f5661edd8b
home=https://npmmirror.com
sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli/
password=HouHpz1562022375302
auth=houpengzhou
strict-ssl=false
msvs_version=2022
python=/usr/bin/python3
//mirrors.didapinche.com/nexus/repository/dida-npm-releases/:_authToken=NpmToken.01465d8c-c00c-3404-a76b-aa78f204701c
